<%= form_for(@entry) do |f| %>
  <div class="field">
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :title, placeholder: "Enter title of your post", class: "form-control" %>
    <%= f.text_area :content, placeholder: "How do you feel?", class: "form-control" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary"%>
<% end %>
